<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

    <!-- Example settings.xml -->
    <servers>

        <!-- For Anypoint Platform username/password (no MFA) -->
        <!-- <server>
            <id>Repository</id>
            <username>${username}</username>
            <password>${password}</password>
        </server> -->

        <!-- For Anypoint Platform's Connected App (MFA) -->
        <server>
            <id>Repository</id>
            <username>~~~Client~~~</username>
            <password>${ClientID}~?~${ClientSecret}</password>
        </server>
        
    </servers>
</settings>